body{
    background-image: url(manga.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: blue;
}
.btn button{
    height: 90px;
    width: 120px;
    border-radius: 50%;
}
.btn{
    height: 60px;
    width: 90px;
}
.one{
    background-color: darkgreen;
}
.two{
    background-color: darkred;
}
.three{
    background-color: darkblue;
}

